html{
    font-size: 16px;
}
.bg-green-1{
    background-color: #2ec1a7;
    color: #fff;
}
.bg-green-2{
    background-color: #edfbf9;
}
.bg-green-3{
    background-color: #e3f7f4;
    &.shoose-us:before{
	border-color: #edfbf9 transparent transparent transparent;
    }
}
.bg-green-4{
    background-color: #d7f5f1;
    &.shoose-us:before{
	border-color: #e3f7f4 transparent transparent transparent;
    }
}
.mb-0{
    margin-bottom: 0!important;
}
.mb-1{
    margin-bottom: 1rem!important;
}
.mb-2{
    margin-bottom: 2rem!important;
}
.mb-3{
    margin-bottom: 3rem!important;
}
.my-auto{
    margin-left: auto;
    margin-right: auto;
}
.font-weight-normal{
    font-weight: 400;
}
.h2, h2 {
    font-weight: 400;
    color: $green;
    letter-spacing: -0.02em;
}
.text-center{
    text-align: center;
}
.site-header{
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    .logo{
	width: rem(145px);
	margin-top: rem(-18px);
    }
    .inner-wrap{
	max-width: 1700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
    }
    .nav{
	ul{
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}
	li{
	    display: inline-block;
	    a{
		text-transform: uppercase;
		color: #fff;
		font-size: rem(21px);
	    }
	    &:hover,
		&.active{
		a{
		    color: #fff;
		    font-weight: 500;
		}
	    }
	}
	li+li{
	    margin-left: 7px;
	}
    }
}
.banner{
    color: #fff;
    text-align: center;
    background: url(../img/main-banner-sm.jpg) top center no-repeat;
    background-size: cover;
    .inner{
	min-height: 538px;
	padding-bottom: 8rem;
    }
    .inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    }
    h1{
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
	padding-bottom: 1rem;
	&:after{
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
	    display: block;
	    width: rem(51px);
	    height: rem(3px);
	    background-color: white;
	}
    }
    .description{
	padding: 0 .5rem;
	font-size: rem(22px);
	line-height: 1.5;
	font-weight: 400;
	strong{
	    text-transform: uppercase;
	}
    }
}
.content-section{
    padding: 2rem 0;
}
.bg-1{
    background: url(../img/bg-1.jpg) left 70% no-repeat;
    background-size: rem(192px 285px);
}
.bg-5{
    background: url(../img/bg-5.jpg) left 20% no-repeat;
    background-size: rem(227px 354px);
}


.sub-heading {
    font-size: rem(24px);
    color: $gray-2;
    font-weight: 400;
    line-height: 1.23;
}
.blue-info{
    padding-top: rem(70px);
    padding-bottom: rem(30px);
    background:#edfbf9 url(../img/bg-2.png) right 50% no-repeat;
    background-size: rem(177px 354px);
    .row{
	justify-content: center;
    }
    .sub-heading{
	margin-bottom: .5rem;
	text-transform: uppercase;
    }
    h2{
	line-height: 1;
    }
    img{
	margin-top: 2rem;
    }
}
.styled{
    list-style: none;
    padding-left: 0;
    li{
	padding-left: rem(40px);
	background: url(../img/list.svg) 0 4px no-repeat;
	background-size: 1rem;
	margin-bottom: 1rem;
    }
}
.benefits{
    .row{
	justify-content: space-around;
    }
}
.benefit-box{
    max-width: rem(340px);
    flex: 0 0 100%;
    border-radius: rem(0px 50px 0px 0px);
    margin: 0 15px;
    padding: rem(40px 22px 60px);
    text-align: center;
    margin-bottom:2rem;
    h5{
	margin-top: 2.5rem;
	color: #fff;
	text-transform: uppercase;
    }
    p{
	font-size: rem(17px);
    }
}
.shoose-us{
    position: relative;
    color: $gray-2;
    padding-top: 3.5rem;
    &:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: rem(40px 33px 0 33px);
	border-color: #ffffff transparent transparent transparent;

    }
    .row{
	justify-content: space-between;
    }
    .content{
	max-width: rem(510px);
    }
    img{
	border-radius: rem(0px 50px 0px 0px);
	margin: 1rem 0;
    }
}
.reviews{
    background: url(../img/reviews-sm.jpg) 0 0 repeat;
    position: relative;
    padding: 3rem 0 0;
    .row{
	justify-content: space-around;
    }
    h2{
	color: #fff;
	margin-bottom: 5rem;
    }
}
.review-box{
    max-width: rem(340px);
    flex: 0 0 100%;
    margin: 0 15px;
    padding: rem(80px 30px 40px 30px);
    text-align: center;
    background-color: #fff;
    box-shadow: 0 6px 0 rgba(98, 98, 98, 0.17);
    position: relative;
    margin-bottom: 4rem;
    .avatar{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #f0f0f0;
	background-color: #fff;
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.72);
	img{
	    border-radius: 50%;
	    width: rem(115px);
	    border: 1px solid #fff;
	}
    }
    h6{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 0;
	color: $green;
    }
    p{
	margin: 2rem 0 0;
	font-size: rem(18px);
	line-height: 1.33;
	font-weight: 400;
	span{
	    color: $green;
	    font-size: rem(36px);
	    line-height: .5;
	    font-weight: 700;
	}
    }
}
.watch-now{
    background: url(../img/bg-4.jpg) right bottom no-repeat;
    background-size: rem(233px 285px);
    .social{
	list-style: none;
	padding-left: 0;
	margin-top: 2rem;
	li{
	    display: inline-block;
	}
	li+li{
	    margin-left: rem(13px);
	}
	svg{
	    fill: $green;
	}
	a:hover{
	    svg{
		fill: $green;
	    }
	}
    }
}
.video-box{
    position: relative;
    margin-bottom: 2rem;
    .play-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	&:hover{
	    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.42);
	}
    }
}
.section-stages{
    h2{
	margin-bottom: 4rem;
    }
}
.stages{
    background: $gray-2;
    .col-stage{
	flex: 0 0 100%;
    }
}
.stage{
    max-width: rem(275px);
    margin: 0 15px;
    text-align: center;
    position: relative;
    color: #fff;
    padding: rem(80px 0 40px 0);
    h5{
	color: $green;
	text-transform: uppercase;
    }
    p{
	font-size: rem(18px);
	line-height: 1.33;
    }
    .num{
	text-align: center;
	width: rem(85px);
	height: rem(85px);
	color: $green;
	background-color: #fff;
	border: 2px solid $green;
	border-radius: 50%;
	font-size: rem(36px);
	line-height: rem(81px);
	font-weight: 700;
	box-shadow: 0 0 0 5px #fff;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
    }
}
/******************/
.discover{
    padding: rem(50px 50px 0);
    background-color: #edf9fd;
    .sub-heading{
	margin-bottom: 0;
	font-size: rem(32px);
    }
    h2{
	line-height: .7;
	margin-bottom: 2rem;
    }
}
.buy{
    h2{
	span{
	    font-weight: 400;
	}
	line-height: .8;
    }
    h3{
	color: $green;
	line-height: .8;
    }
}
.site-footer{
    color: #fff;
    background-color: #000000;
    font-size: rem(17px);
    .container{
	max-width: 1700px;
    }
    .row{
	align-items: center;
	justify-content: space-between;
	> div{
	    padding: rem(22px 0);
	    margin: 0 auto;
	}
    }
    .contacts{
	.contact-col{
	    max-width: 280px;
	    padding: 0 10px;
	}
    }
    .contact{
	padding-left: rem(35px);
	position: relative;
	margin: .3rem 0;
	.icon{
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 23px;
	}
    }
    .footer-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	a{
	    color: #888888;
	    &:hover{
		color: #fff;
	    }
	}
    }
}